@use 'src/styles/constants' as c;
@use 'src/styles/mixins' as m;

.wrapper {
  @include m.flex;
  position: relative;
  padding: 8px;
  border-radius: 50%;

  &.badge::after {
    @include m.absolute(6px 6px auto auto);
    width: 4px;
    height: 4px;
    content: '';
    background-color: var(--c-primary-normal);
    border-radius: 50%;
  }
}
