@use '@/styles/constants' as c;
@use '@/styles/mixins' as m;

.wrapper {
  width: 100%;
  height: c.$S_HEADER_HEIGHT;
  background-color: c.$C_WHITE;

  .container {
    @include m.flex(flex-start, center, row);
    gap: 8px;
    width: 100%;
    height: 100%;

    > button {
      @include m.button-reset;
    }

    > h1 {
      @include m.fontH3(bold);
      margin-top: -1px;
    }
  }
}
