@use '../../../styles/constants' as c;
@use '../../../styles/mixins' as m;

.wrapper {
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
  cursor: inherit;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 0.2s ease 0s;
  will-change: opacity;

  &:not([aria-disabled='true']) {
    &.normal {
      &:hover {
        opacity: 0.05;
      }

      &:focus-within {
        opacity: 0.08;
      }

      &:active {
        opacity: 0.12;
      }
    }

    &.light {
      &:hover {
        opacity: 0.0375;
      }

      &:focus-within {
        opacity: 0.06;
      }

      &:active {
        opacity: 0.09;
      }
    }

    &.strong {
      &:hover {
        opacity: 0.075;
      }

      &:focus-within {
        opacity: 0.12;
      }

      &:active {
        opacity: 0.18;
      }
    }
  }
}
