@use '@/styles/constants' as c;
@use '@/styles/mixins' as m;

.wrapper {
  @include m.flex(flex-start, flex-start, column);
  gap: 16px;
  width: 100%;
  min-height: 100vh;
  background-color: c.$C_WHITE;

  > h1 {
    @include m.fontH1('bold');
    margin-bottom: 32px;
    color: c.$C_BLUE_100;
  }

  > h2 {
    @include m.fontH2('medium');
    color: c.$C_BLUE_50;
  }

  .eventCard {
    width: 150px;
    height: 190px;
  }
}
